body.blur-theme::before {
    opacity: 0
}
.page-top {
    background: #FFD159;
    padding: 10px 0 0 0;
}
.page-top .inline-block {
    display: inline-block;
}

.page-top .inline-block img {
    width: 100%;
    max-width: 70px;
    margin: 0 8px;
}

ul.nav.nav-tabs li.uib-tab.nav-item >a {
    color: #333;
}

.blur-theme .nav.nav-tabs>li.active>a{
 background: #FA7413;
    opacity: 1;

}

.blur-theme .nav.nav-tabs>li>a{
    color: #333;
    background: #FA7413;
    opacity: 0.6;

}

a.al-logo {
    color: #999;
}

.al-sidebar {
 background: #FFD159;
    padding-top: 5px;

}
.al-sidebar-list {
    margin: 20px 0;
}
.al-sidebar-list  li {
    margin-bottom: 5px;
    font-size: 12px;
}


.al-sidebar-list  h4 {
    color: #333;
}

.panel.panel-blur {
    background: none;
}

.panel .panel-heading {
    color: #333 !important;
}

.tab-content {
    padding: 0;
}

.table {
    table-layout: fixed;
    width: 100%;
    background: #fff;
    color: #333 !important;
}
.table th {
    background: #CCCCCC;
    font-weight: 600;
}

.table td , .table>tbody>tr>th {
    padding: 5px;
    border: 1px solid #AAAAAA;
    word-break: break-word;
}

tr:nth-child(even) {
    background-color: rgba(250, 116, 19, 0.4);
}

.al-footer {
    padding-top: 50px;
}
